[submodule "/Users/cwoon/projects/42_core_program/1."]
	path = /Users/cwoon/projects/42_core_program/1.
	url = git@vogsphere.42kl.edu.my:vogsphere/intra-uuid-df4706ca-a0d1-4273-a4f3-0f108be3794c-5707424-cwoon
