[submodule "0_libft"]
	path = 0_libft
	url = https://github.com/colin-woon/0_libft.git
[submodule "1_printf"]
	path = 1_printf
	url = https://github.com/colin-woon/1_printf.git
[submodule "2_get_next_line"]
	path = 2_get_next_line
	url = https://github.com/colin-woon/2_get_next_line.git
[submodule "3_push_swap"]
	path = 3_push_swap
	url = https://github.com/colin-woon/3_push_swap.git
[submodule "3.1_pipex"]
	path = 3.1_pipex
	url = https://github.com/colin-woon/3.1_pipex.git
[submodule "3.2_fdf"]
	path = 3.2_fdf
	url = https://github.com/colin-woon/3.2_fdf.git
